<form
  *ngIf="loginForm"
  [formGroup]="loginForm"
  (submit)="submit()"
  class="form"
>
  <h1 class="heading">Login</h1>
  <div class="wrapper">
    <app-text-field
      formControlName="login"
      placeholder="Enter your username or email"
      label="Username/Email*:"
      labelColor="main"
    ></app-text-field>
    <div></div>
    <app-text-field
      formControlName="password"
      placeholder="Enter your password"
      label="Password*:"
      labelColor="main"
      type="password"
    ></app-text-field>
    <button type="submit" [disabled]="!loginForm.valid" class="btn">Log in</button>
  </div>
</form>
