@import '../../../../shared/styles/_variables';

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.heading {
  font-size: 32px;
  font-weight: 600;
  color: $white;
}

.back {
  padding: 10px 50px;
  font-weight: 500;
  font-size: 20px;
  color: $white;
  background-color: $accent-main;
  border-radius: 5px;
  border: none;
  outline: none;
  cursor: pointer;
  transition: all 0.1s linear;
  &:hover {
    @include shadow($accent-main)
  }

  &:active {
    background-color: $accent-main-dark;
  }
}
