@import "../../../../shared/styles/variables";

.section {
  display: flex;
  width: calc(100% - 40px);
  height: 100vh;
  padding: 0 20px;
}

.container {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}

.peeps {
  object-fit: cover;
  width: 50%;
  @media (max-width: 1455px) {
    display: none;
  }
}
