$dark: #191D25;
$dark-half: #1D2129;
$dark-light: #2F333B;
$accent-main: #0e7dff;
$accent-secondary: #66FFE3;
$dark-text: #3F454D;
$error: #FF5B5B;
$success: #4ECB71;
$info: #85B6FF;
$warning: #FFD233;
$white: #fff;
