$dark: #191D25;
$dark-half: #1D2129;
$dark-light: #2F333B;
$accent-main: #0e7dff;
$accent-main-dark: #0a55aa;
$accent-secondary: #66FFE3;
$accent-secondary-dark: #41a996;
$dark-text: #3F454D;
$gray-half: rgba(63, 69, 77, 0.3);
$gray-low: rgba(63, 69, 77, 0.1);
$error: #FF5B5B;
$success: #4ECB71;
$info: #85B6FF;
$warning: #FFD233;
$white: #fff;
