<div class="wrapper" (click)="focus()">
  <label>
    <span
      class="label"
      [ngClass]="{
        main: labelColor === 'main',
        secondary: labelColor === 'secondary'
      }"
    >
      {{ label }}
    </span>
    <input
      #input
      [(ngModel)]="value"
      (ngModelChange)="updateValue()"
      (focus)="isFocus = true"
      (blur)="isFocus = false"
      class="input"
      [type]="type || 'text'"
    >
  </label>
  <span
    class="placeholder"
    [ngClass]="{
      active: isFocus || value
    }"
  >
    {{ placeholder }}
  </span>
<!--  <div *ngIf="control?.invalid && (control.dirty || control.touched)">-->
<!--    <div *ngIf="control.hasError('required')">This field is required.</div>-->
<!--    <div *ngIf="control.hasError('customValidation')">Custom validation failed.</div>-->
<!--  </div>-->
</div>
