<div class="wrapper" (click)="focus()">
  <label>
    <span
      class="label"
      [ngClass]="{
        main: labelColor === 'main',
        secondary: labelColor === 'secondary'
      }"
    >
      {{ label }}
    </span>
    <input
      #input
      [(ngModel)]="value"
      (ngModelChange)="updateValue()"
      (focus)="isFocus = true"
      (blur)="isFocus = false"
      class="input"
      [type]="type"
    >
  </label>
  <span
    class="placeholder"
    [ngClass]="{
      active: isFocus || value
    }"
  >
    {{ placeholder }}
  </span>
</div>
